.appBar {
  margin-bottom: 10px;
}

.iconButton {
  margin-left: -12px;
  margin-right: 20px;
}

.heading {
  flex-grow: 1;
}

.username>label {
  color: lightgrey !important;
}
.username input {
  color: white;
}
.username>div {
  border-bottom: 1px solid white;
}
